<header>
  <nav>
    <ul>
      <li><a routerLink="/home" routerLinkActive="active">Inicio</a></li>
      <li><a routerLink="/projects" routerLinkActive="active">Portafolio</a></li>
      <li><a routerLink="/blog" routerLinkActive="active">Blog</a></li>
      <li><a routerLink="/trajectory" routerLinkActive="active">Recorrido</a></li>
      <li *ngIf="loggedIn"><a routerLink="/admin" routerLinkActive="active">Admin</a></li>
    </ul>
    <div class="hamburger" (click)="toggleMenu()">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </nav>
</header>
<div class="mobile-menu" [ngClass]="{'active': isMenuOpen}">
  <a routerLink="/home" routerLinkActive="active" (click)="toggleMenu()">Inicio</a>
  <a routerLink="/projects" routerLinkActive="active" (click)="toggleMenu()">Portafolio</a>
  <a routerLink="/blog" routerLinkActive="active" (click)="toggleMenu()">Blog</a>
  <a routerLink="/trajectory" routerLinkActive="active" (click)="toggleMenu()">Recorrido</a>
  <a *ngIf="loggedIn" routerLink="/admin" routerLinkActive="active" (click)="toggleMenu()">Admin</a>
</div>