<footer>
    <div class="info">
        <div class="suscribe">
            <h1><b><i>Subscribe</i></b></h1>
            <p>Associate your address to be notified <br> of new posts</p>
            <div class="buttons">
                <input type="text" #emailInput placeholder="Email">
                <button (click)="suscribe(emailInput.value)">Subscribe</button>
            </div>
        </div>
        <div class="contact">
            <h1><b><i>Contact</i></b></h1>
            <p>Do you have any questions or need more information? <br> Feel free to contact me!</p>
            <p>Email: eduardo&#64;eduortza.com</p>
        </div>
    </div>
    <div class="profile">
        <div class="profile-image"> </div>
        <div class="profile-info">
            <p>More about me on</p>
            <div class="profile-buttons">
                <a href="https://www.linkedin.com/in/eduortza" target="_blank" class="boton-social">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="https://github.com/EduardoOrtegaZerpa" target="_blank" class="boton-social">
                    <i class="fab fa-github"></i>
                </a>
            </div>
        </div>
    </div>
</footer>
