footer {
    padding: 40px 80px;
    display: flex;
    justify-content: space-between;
    border-top:  1px solid rgba(255, 255, 255, 0.3);
}

h1 {
    font-size: large;
    color: white;

}

p {
    color: white;
}

input {
    width: -webkit-fill-available;
    padding: 10px;
    border: none;
    border-radius: 25px;
    background-color: #f2f2f2;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    color: white;

}

.info {
    display: flex;
    gap: 5vw;
}

.suscribe {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.buttons {
    display: flex;
    gap: 20px;
}

.profile{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.profile-info {
    display: flex;
    gap: 15px;
}

.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #f2f2f2;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/assets/img/footer.jpg');
}

.profile-buttons {
    display: flex;
    gap: 10px;
    color: white;
}

@media screen and (max-width: 768px) {
    footer {
        flex-direction: column;
        gap: 20px;
        padding: 40px;
    }

    .info {
        flex-direction: column;
        gap: 20px;
    }

    .profile {
        flex-direction: row;
        align-items: center;
    }

    .profile-info {
        flex-direction: row;
        gap: 10px;
    }

    .profile-image {
        width: 80px;
        height: 80px;
    }

    .buttons {
        flex-direction: column;
        gap: 10px;
    }
    
}