<footer>
    <div class="info">
        <div class="suscribe">
            <h1><b><i>Suscríbete</i></b></h1>
            <p>Asocia tu dirección para que te avise <br> de nuevas publicaciones</p>
            <div class="buttons">
                <input type="text" #emailInput placeholder="Correo electrónico">
                <button (click)="suscribe(emailInput.value)">Suscribirse</button>
            </div>
        </div>
        <div class="contact">
            <h1><b><i>Contacto</i></b></h1>
            <p>¿Tienes alguna pregunta o necesitas más información? <br> ¡No dudes en contactarme!</p>
            <p>Email: eduardo&#64;eduortza.com</p>
        </div>
    </div>
    <div class="profile">
        <div class="profile-image">

        </div>
        <div class="profile-info">
            <p>Más sobre mí en</p>
            <div class="profile-buttons">
                <a href="https://www.linkedin.com/" target="_blank" class="boton-social">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="https://github.com/" target="_blank" class="boton-social">
                    <i class="fab fa-github"></i>
                </a>
            </div>
        </div>
    </div>
</footer>
