<div class="contact">
    <div class="info">
        <div class="option">

            <div class="general-info">
                <h1>Let's Get in Touch!</h1>
                <h2>Contact me via email</h2>
            </div>

            <form [formGroup]="contactForm" (ngSubmit)="sendMail()" class="inputs">
                <div class="input">
                    <label for="name">Name</label>
                    <input type="text" id="name" formControlName="name" placeholder="Enter your name...">
                    <div *ngIf="contactForm.get('name')?.invalid && (contactForm.get('name')?.dirty || contactForm.get('name')?.touched)" class="error">
                        <div *ngIf="contactForm.get('name')?.errors?.['required']">Name is required.</div>
                        <div *ngIf="contactForm.get('name')?.errors?.['minlength']">Name must be at least 2 characters long.</div>
                    </div>
                </div>
                <div class="input">
                    <label for="email">Email</label>
                    <input type="email" id="email" formControlName="email" placeholder="Enter your email...">
                    <div *ngIf="contactForm.get('email')?.invalid && (contactForm.get('email')?.dirty || contactForm.get('email')?.touched)" class="error">
                        <div *ngIf="contactForm.get('email')?.errors?.['required']">Email is required.</div>
                        <div *ngIf="contactForm.get('email')?.errors?.['email']">Invalid email format.</div>
                    </div>
                </div>
                <div class="input">
                    <label for="subject">Subject</label>
                    <input type="text" id="subject" formControlName="subject" placeholder="Enter a subject...">
                    <div *ngIf="contactForm.get('subject')?.invalid && (contactForm.get('subject')?.dirty || contactForm.get('subject')?.touched)" class="error">
                        <div *ngIf="contactForm.get('subject')?.errors?.['required']">Subject is required.</div>
                    </div>
                </div>
                <div class="input">
                    <label for="message">Message</label>
                    <textarea id="message" formControlName="message" placeholder="Tell me what's on your mind..."></textarea>
                    <div *ngIf="contactForm.get('message')?.invalid && (contactForm.get('message')?.dirty || contactForm.get('message')?.touched)" class="error">
                        <div *ngIf="contactForm.get('message')?.errors?.['required']">Message is required.</div>
                        <div *ngIf="contactForm.get('message')?.errors?.['minlength']">Message must be at least 10 characters long.</div>
                    </div>
                </div>
                <button type="submit" [disabled]="contactForm.invalid">Send</button>
            </form>

        </div>
        <div class="line-with-text">
            <span>or</span>
        </div>          
        <div class="option">
            <h3><b>Write to me directly at:</b> eduardo&#64;eduortza.com</h3>
        </div>
    </div>
    <div class="image">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 422 391" fill="none">
            <rect x="53.3804" y="30.1619" width="330.496" height="322.941" rx="5.27559" fill="#01484D" fill-opacity="0.58"/>
            <rect x="320.585" width="100.586" height="68.6942" rx="8.20647" fill="#025A8B" fill-opacity="0.94"/>
            <rect y="322.306" width="100.586" height="68.6942" rx="8.20647" fill="#2C9185" fill-opacity="0.88"/>
            <rect x="8.31252" y="1.05471" width="272.769" height="224.257" rx="6.67982" stroke="white" stroke-width="2.10942"/>
        </svg>
    </div>
</div>
