<div class="contact">
    <div class="info">
        <div class="option">

            <div class="general-info">
                <h1>¡Pongámonos en contacto!</h1>
                <h2>Contacta conmigo a través de correo</h2>
            </div>

            <div class="inputs">
                <div class="input">
                    <label for="name">Nombre</label>
                    <input type="text" id="name" placeholder="Introduzca su nombre...">
                </div>
                <div class="input">
                    <label for="email">Correo</label>
                    <input type="email" id="email" placeholder="Introduzca su correo...">
                </div> 
                <div class="input">
                    <textarea id="message" placeholder="Dime que tienes en mente..."></textarea>
                </div>
                <button>Enviar</button>
            </div>

        </div>
        <div class="line-with-text">
            <span>or</span>
        </div>          
        <div class="option">
            <h3><b>Escríbeme directamente a la dirección:</b> eduardo&#64;eduortza.com</h3>
        </div>
    </div>
    <div class="image">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 422 391" fill="none">
            <rect x="53.3804" y="30.1619" width="330.496" height="322.941" rx="5.27559" fill="#01484D" fill-opacity="0.58"/>
            <rect x="320.585" width="100.586" height="68.6942" rx="8.20647" fill="#025A8B" fill-opacity="0.94"/>
            <rect y="322.306" width="100.586" height="68.6942" rx="8.20647" fill="#2C9185" fill-opacity="0.88"/>
            <rect x="8.31252" y="1.05471" width="272.769" height="224.257" rx="6.67982" stroke="white" stroke-width="2.10942"/>
        </svg>
    </div>
</div>
