<div class="edit">
    <h1>Edit Post</h1>
    <form (ngSubmit)="editPost()" [formGroup]="createForm" class="globalForm">
        <div class="form-group">
            <div class="form-option">
                <div class="form-option-content">
                    <label for="post">Select Post</label>
                    <select class="form-control" id="post" name="post" (change)="onPostSelected($event)">
                        <option *ngFor="let post of posts" [ngValue]="post">{{ post.title }}</option>
                    </select>
                </div>
            </div>

            <div class="form-option">
                <div class="form-option-content">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" id="title" name="title" formControlName="title" required>
                </div>
                <div *ngIf="createForm.controls['title'].invalid && (createForm.controls['title'].dirty || createForm.controls['title'].touched)" class="error">
                    <small class="text-danger">Title is required.</small>
                </div>
            </div>

            <div class="form-option">
                <div class="form-option-content-textarea">
                    <label for="description">Description</label>
                    <textarea class="form-control" id="description" name="description" formControlName="description" required></textarea>
                </div>
                <div *ngIf="createForm.controls['description'].invalid && (createForm.controls['description'].dirty || createForm.controls['description'].touched)" class="error">
                    <small class="text-danger">Description is required.</small>
                </div>
            </div>

            <div class="form-option">
                <div class="form-option-content-textarea">
                    <label for="content">Content</label>
                      <app-editor #editor formControlName="content" (contentChange)="onEditorContentChange($event)"></app-editor>
                </div>  
                <div *ngIf="createForm.controls['content'].invalid && (createForm.controls['content'].dirty || createForm.controls['content'].touched)" class="error">
                    <small class="text-danger">Content is required.</small>
                </div>
            </div>

            <div class="form-option">
                <div class="form-option-content">
                  <label for="image">Image</label>
                  <div class="file-input-container">
                    <label for="image" class="file-label" [ngClass]="{'selected': imageSelected?.name}">
                      {{ imageSelected ? imageSelected.name : 'Seleccionar archivo' }}
                    </label>
                    <input type="file" class="file-input form-control" id="image" name="image" (change)="onFileSelected($event)" formControlName="image">
                  </div>
                </div>
                <div *ngIf="createForm.controls['image'].dirty && errorMessage" class="error">
                  <small class="text-danger">{{ errorMessage }}</small>
                </div>
              </div>

            <div class="form-option">
                <div class="form-option-content">
                    <label for="minutesToRead">Minutes to Read</label>
                    <input type="number" class="form-control" id="minutesToRead" name="minutesToRead" formControlName="minutesToRead" required>
                </div>
                <div *ngIf="createForm.controls['minutesToRead'].invalid && (createForm.controls['minutesToRead'].dirty || createForm.controls['minutesToRead'].touched)" class="error">
                    <small class="text-danger">Minutes to Read is required.</small>
                </div>
            </div>

            <div class="form-option">
                <div class="form-option-content">
                    <input type="text" formControlName="newTag" placeholder="Ingrese nuevo elemento">
                    <button type="button" (click)="addTag()">Add</button>
                </div>
                <ul class="tags-ul">
                    <li *ngFor="let tag of tags; let i = index">
                      <span class="tag-content">{{ tag }}</span>
                      <button type="button" (click)="removeTag(i)" class="delete-button"><i class="fas fa-trash-alt"></i></button>
                    </li>
                </ul>
            </div>

            <button type="submit" [disabled]="createForm.invalid || !compareChanges()">Submit</button>
            <button type="button" (click)="deletePost()">Delete</button>
        </div>
    </form>
</div>
