<div class="admin">
    <div class="options">
        <app-admin-card title="Crear Post" path="/admin/create-post"></app-admin-card>
        <app-admin-card title="Crear Proyecto" path="/admin/create-repository"></app-admin-card>
        <app-admin-card title="Editar Post" path="/admin/edit-post"></app-admin-card>
        <app-admin-card title="Editar Proyecto" path="/admin/edit-repository"></app-admin-card>
        <app-admin-card title="Editar Recorrido" path="/admin/edit-journey"></app-admin-card>
    </div>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>
