<div class="admin">
    <div class="options">
        <app-admin-card title="Create Post" path="/admin/create-post"></app-admin-card>
        <app-admin-card title="Create Project" path="/admin/create-repository"></app-admin-card>
        <app-admin-card title="Edit Post" path="/admin/edit-post"></app-admin-card>
        <app-admin-card title="Edit Project" path="/admin/edit-repository"></app-admin-card>
        <app-admin-card title="Edit Trajectory" path="/admin/edit-trajectory"></app-admin-card>
    </div>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>
