<div class="portafolio">
    <div class="search-bar">
        <input type="text" placeholder="Buscar...">
    </div>
    <div class="cards">
        <div class="card">
            <div class="card-image">
                <div class="background"></div>
                <img src="/assets/img/d2-R-banner.jpg" alt="" class="image">
            </div>
            <div class="card-content">
                <h2><b>Titulo</b></h2>
                <h3>JUN 31, 2024</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quos.</p>
            </div>
        </div>
    </div>
</div>
