:host {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.project {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 20px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 60px;
}

.info h1 {
    font-size: 3.5rem;
    font-weight: bold;
}

.info p {
    font-size: 1.4rem;
}

.project-image {
    display: block;
    position: relative;
    top: -30px;
    margin-top: -10px;
    height: auto;
    max-height: 30vh;
    max-width: 80%;
    align-self: center;
    border-radius: 25px;
}

.project-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 50px;
    color: white;
    border-radius: 25px;
    width: 60%;
    align-self: center;
    background-color: rgba(0, 0, 0, 0.2);
    margin-bottom: 50px;
}

@media screen and (max-width: 1600px) {
    .project-content {
        padding: 30px;
        width: 80%;
    }
    
}

@media screen and (max-width: 900px) {
    .project-content {
        padding: 20px;
        width: 90%;
    }

    .info {
        padding: 20px;
    }

    .info h1 {
        font-size: 2.5rem;
    }

    .info p {
        font-size: 1.4rem;
    }

    .project-image {
        max-height: 20vh;
    }

    .project {
        gap: 10px;
    }

    .project-content {
        padding: 20px;
    }

    .project-image {
        top: -10px;
    }
    
}

@media screen and (max-width: 600px) {
    .project-content {
        padding: 10px;
    }

    .info {
        padding: 10px;
    }

    .info h1 {
        font-size: 2rem;
    }

    .info p {
        font-size: 1rem;
    }

    .project-image {
        max-height: 15vh;
        top: 0px;
    }

    .project-content {
        padding: 15px;
        width: -webkit-fill-available;
        border-radius: 0px;
        margin-bottom: 0px;
        background-color: transparent;
    }
}

@media screen and (max-width: 400px) {
    .info h1 {
        font-size: 1.5rem;
    }

    .info p {
        font-size: 0.8rem;
    }

    .info {
        padding: 5px;
    }
    
}



