<div class="blog">
    <div class="main">
        <h1>BLOG</h1>
        <div class="utilities">
            <div class="filters">
                <h2>FILTERS</h2>
                <div class="filters-buttons">
                    <button class="filter">All</button>
                    <button class="filter">Design</button>
                    <button class="filter">Development</button>
                    <button class="filter">Marketing</button>
                    <button class="filter">Photography</button>
                </div>
            </div>
            <div class="searching-bar">
                <h2>SEARCH BLOG</h2>
                <input type="text" placeholder="Search">
            </div>
        </div>
    </div>
</div>
