:host{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.home {
    margin: 0;
    flex: 1;
}

.home > *:not(.main) {
    padding: 40px 80px;
}

h1 {
    font-size: xxx-large;
    color: white;
}

p{
    color: white;
    font-size: x-large;
    text-align: justify;
}

a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    width: fit-content;
}

.main{
    display: flex;
    align-items: center;
    gap: 120px;
    padding: 0px 80px;
}

@keyframes move {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 40px 40px;
    }
}

.info{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 40px;
}

.text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.image-general{
    margin-top: auto;
    display: flex;
    justify-content: flex-end;
}

.image-general img{
    width: auto;
    height: 50vh;
    object-fit: cover;
}

.slider {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex: 2;
    height: 40vh;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
}


.buttons{
    display: flex;
    gap: 20px;
    color: white;
    font-size: x-large;
}

.contact-button{
    background-color: white;
    padding: 10px;
    border-radius: 25px;
    flex: 2;
    font-size: large;
    cursor: pointer;
    min-width: fit-content;
    text-wrap: nowrap;
}

.contact-button:hover{
    background-color: #f2f2f2;
}

.boton-social{
    flex: 1;
}

.about{
    display: flex;
    flex-direction: column;
    gap: 60px;
    /* background-color: rgba(0, 0, 0, 0.2); */
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    background: #0a334da0;
    background: linear-gradient(
      135deg,
      #0a334da0 25%,
      #12264d2f 25%,
      #12264d2f 50%,
      #0a334da0 50%,
      #0a334da0 75%,
      #12264d2f 75%,
      #12264d2f
    );
    background-size: 20px 20px;
  
    /* Animation */
    animation: move 4s linear infinite;
}

.about-main{
    display: flex;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 60px;
    justify-content: center;
}

.personal-info-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.personal-info {
    display: flex;
    align-items: center;
    opacity: 0.5;
    color: #FAFAFA;
    /* height: 100px; */
    transition: opacity 1s ease, color 1s ease, font-size 1s ease, margin 1s ease;
    gap: 40px;
    padding: 30px;
}

.personal-info.mobile {
    opacity: 1;
}

.personal-info.mobile h2 {
    font-weight: bolder;
}

.personal-info.active {
    opacity: 1;
    transition: opacity 1s ease, color 1s ease, font-size 1s ease, margin 1s ease;
    margin: 20px 0px;

}

.personal-info h2 {
    font-size: x-large;
    flex: 1;
}

.personal-info.active h2 {
    color: #00BCBC;
    font-size: xx-large;
    transition: color 1s ease;
}

.personal-info p {
    font-size: large;
    flex: 3;
}

.personal-info.active p {
    color: #C3FFFF;
    font-size: x-large;
    transition: color 1s ease;
}

.blog{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: black;
}

.blog h2{
    color: white;
    font-size: xx-large;
}

.blog-info{
    display: flex;
    gap: 60px;
}

.blog-image{
    display: flex;
    max-width: 50%;
}

.blog-image img{
    width: 100%;
    height: auto;
    object-fit: cover;
    cursor: pointer;
    max-height: 30vh;
}


.blog-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}

.blog-header{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.tags{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

.highlight{
    background-color: #A1FF99;
    padding: 10px;
    height: fit-content;
}

.highlight p{
    color: #053b00;
    font-size: large;
}

.tags p{
    color: white;
    font-size: large;
}

.blog-title{
    color: white;
    font-size: xx-large;
    cursor: pointer;
}

.blog-title:hover{
    text-decoration: underline;
}

.blog-basic-info p{
    font-size: medium;
    color: gray;
}

.blog-description p{
    color: gainsboro;
    font-size: larger;
}

@media screen and (max-width: 1600px){
    .image-general img{
        height: 30vh;
    }

    .slider {
        height: 25vh;
    }

    .main {
        gap: 60px;
    }
    
}

@media screen and (max-width: 1200px){
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }

    h1 {
        font-size: xx-large;
    }

    p{
        font-size: large;
    }
    
    .image-general img{
        height: 20vh;
    }

    .slider {
        height: 15vh;
    }
    
    .buttons{
        font-size: large;
    }

    .contact-button{
        font-size: medium;
    }

    .personal-info h2 {
        font-size: large;
    }

    .personal-info.active h2 {
        font-size: x-large;
    }

    .personal-info.active p {
        font-size: large;
    }

    .personal-info p {
        font-size: medium;
    }

    .blog h2{
        font-size: x-large;
    }

    .blog-title{
        font-size: x-large;
    }

    .blog-basic-info p{
        font-size: small;
    }

    .blog-description p{
        font-size: medium;
    }

    .highlight p{
        font-size: medium;
    }

    .tags p{
        font-size: medium;
    }

    .blog-content{
        gap: 10px;
    }
}

@media screen and (max-width: 1000px) {
    .image-general {
        display: none;
    }

    .main{
        padding: 40px 80px;
    }

    .info{
        margin: 0px;
        text-align: center;
    }

    .home > * {
        padding: 20px 40px !important; 
    }

    .personal-info {
        gap: 20px;
        padding: 20px;
    }

    .personal-info.active {
        margin: 10px 0px;
    }

    .personal-info-container {
        gap: 20px;
    }
    
    
}

@media screen and (max-width: 800px){

    .main{
        flex-direction: column;
        gap: 20px;
    }

    .slider {
        height: 25vh;
        width: 80vw;
        flex: auto;
    }

    .blog-info{
        flex-direction: column;
        gap: 20px;
    }

    .blog-image{
        justify-content: center;
        max-width: none;
    }

    .blog h2{
        font-size: large;
        text-align: center;
    }

    .blog-title{
        font-size: large;
    }

    .blog-basic-info p{
        font-size: small;
    }

    .blog-description p{
        font-size: medium;
    }

    .highlight {
        display: none;
    }

    .tags p{
        font-size: medium;
    }

    .blog-content{
        gap: 10px;
    }
}

@media screen and (max-width: 650px){

    .cards {
        grid-template-columns: 1fr;
    }

    .personal-info {
        flex-direction: column;
        gap: 20px;
        padding: 10px;
        text-align: center;
    }

    p {
        text-align: center;
    }

    .blog-description p, .blog-basic-info p{
        text-align: start;
    }

}

@media screen and (max-width: 500px){

    .buttons{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact-button{
        width: 100%;
    }
}